body {
  margin: 50px;
  background-color: rgb(254, 235, 235);
  color: rgb(253, 84, 84);
}

.btn {
  color:rgb(253, 84, 84);
  background-color:rgb(254, 235, 235);
  border: solid rgb(253, 84, 84);
  margin: 5px
}

.card {
  background-color: rgb(253, 84, 84);
  color: rgb(254, 235, 235);
  margin:10px 0 10px 0;
}
/* 
.card-img-top {
  width: auto;
  height: 300px;
} */
.playerOneWin {
  display: none;
  text-align: center;
}

.playerTwoWin {
  display:none;
  text-align: center;
}

.rulesText{
  display: none;
}

.diceImages{
  text-align: center;
}

.dice{
  margin: 15px;
  display: none;
  width:50%;
  height: auto;
}

.card-title{
  text-align: center;
}

.total{
  padding: 2%;
  background-color: rgb(253, 84, 84);
  color: rgb(254, 235, 235);
  text-align: center;
  font-size: 150%;
}

#player1PlayField {
  display: none;
  text-align: center;
}

#player2PlayField {
  display: none;
  text-align: center;
}

#newGame {
  margin-top: 25px;
  display: none;
  text-align: center;
}